<div class="row-fluid">

  <!-- Sidebar -->
  <div class="span2" ng-include src="'partials/navbarmain.html'">
  </div>
  
  <!-- Main content -->
  <div class="span10">
    <ul class="breadcrumb">
      <li>
        <a ng-href="#/home">Inicio</a> <span class="divider">/</span>
      </li>
      <li class="active">Ha ocurrido un problema</li>
    </ul>
    <div class="well">
      <h1>¡Ops! Ha ocurrido un problema</h1>
      <small class="muted">
        Parece ser que hay problemas de comunicación con el servidor. Pruebe a dar al botón "Atrás" de su navegador e intentar la operación más tarde. ¡Gracias!
      </small>
    </div>
    <hr />
    <footer>
      <p>&copy; Grupo de trabajo ÁTICA, 2009-2012</p>
    </footer>
  </div>
</div>