/* app css stylesheet */

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.navbar-fixed-top .brand {
  -moz-transition: all 0.2s linear 0s;
  color: #c7dee9;
  /*float: right;*/
  font-weight: bold;
  /*margin-left: 20px;
  padding-left: 0;
  padding-right: 0;*/
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.81), 0 0 30px rgba(255, 255, 255, 0.8125);
}

.nav-list {
  padding-top: 5px !important;
}

th.hidecell {
  width: 0 !important;
}
th.monthstart {
  border-left: 1px solid;
}

td.monthstart {
  border-left: 1px solid #dddddd;
}

th.oddmonth {
  background-color: #dddddd;
}

th.evenmonth {
  background-color: #eeeeee;
}

.eventrow {
  overflow: hidden;
  height: 5em;
  max-height: 5em;
}

.event {
  height: 3em;
  max-height: 3em;
  overflow: hidden;
  /*white-space: nowrap;*/
}

.eventrow .done {
  background-image:url('../themes/default/images/stripe.png');
}
.eventrow .past {
  background-color: #ffcccc !important;   
}
.eventrow .pastdone {
  background-color: #ccccff !important;   
}
.eventrow .now {
  background-color: #ffffcc !important;   
}
.eventrow .future {
  background-color: #ccffcc !important;   
}

b.loginfield {
  color: black !important;
}
.nav-header-small {
  line-height: 14px !important;
}

input.cancelbutton {
  margin-top: 5px !important;
}

input.loginbutton, input.cancelbutton {
  clear: left;
  width: 100%;
  height: 32px;
  font-size: 13px;
  margin: 0 !important;
}

.loginform-error {
  color: #B94A48 !important;
  font-size: 90% !important;
  margin: 0 !important;
  
}

input.cancelbutton {
  margin-top: 5px !important;
}

div.framed {
  position: relative;
  margin: 15px 0;
  padding: 19px 19px 14px;
  background-color: white;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.profile-selected {
  color: #000 !important;
  font-weight: bold;
}
.profile-muted {
  color: #999 !important;
  display: block !important;
}