<div class="row-fluid">

  <!-- Sidebar -->
  <div class="span2" ng-include src="'partials/navbarmain.html'">
  </div>

  <!-- Main content -->
  <div class="span10">
    <ul class="breadcrumb">
      <li>
        <a ng-href="#/home">Inicio</a> <span class="divider">/</span>
      </li>
      <li><a ng-href="#/section">Secciones</a> <span class="divider">/</span></li>
      <li class="active">{{d.groupings[$routeParams.section_id].displayName}}</li>
    </ul>
    <div class="well">
      <h1>{{d.groupings[$routeParams.section_id].displayName}}</h1>
      <small class="muted">
        {{d.groupings[$routeParams.section_id].description}}
      </small>
    </div>



    <div class="framed" ng-repeat="folderId in d.groupings[$routeParams.section_id].folders" ng-controller="FolderViewCtrl">

      <h2>{{d.folders[folderId].displayName}}</h2>

      <form ui-if="d.loaded">
        <div class="pull-right">
          <select ng-model="$parent.uploadFilter" ng-options="showName(key) for key in uploaders"></select><br/>
          <select ng-show="d.folders[folderId].isDivided" ng-model="$parent.profileFilter" ng-options="showProfile(key) for key in profilesFilterOrder"></select><br />
        </div>
      </form>
      <p ng-bind-html="d.folders[folderId].description"></p>

      <h3 ui-if="loading">Cargando...</h3>
      <img ui-if="loading" src="img/loading.gif"/>
      <h3 ui-if="error">Se ha producido un problema intentando visualizar el contenido</h3>

      <table class="table table-striped table-hover table-condensed" ng-show="deliveries">
        <thead>
          <tr>
            <th>Documento</th>
            <th>Últ. cambio</th>
            <th></th>
            <th ui-if="d.loaded">Enviado por</th>
            <th></th>
          </tr>
        </thead>
        <tbody ng-repeat="profileId in group(profilesOrder)">
          <tr ng-show="deliveriesCount>0" ui-if="profileId != null" class="folder-profilegroup"><td colspan="3"></td><td ui-if="d.loaded">{{toUpperCase(d.profileGroups[d.profiles[profileId].profileGroupId].displayName[2])}} {{toUpperCase(d.profiles[profileId].displayName)}}</td><td></td></tr>
          <tr ng-repeat="deliveryId in filterDelivery(deliveriesOrder[profileId])">
            <td><a href="{{getDownloadLink(deliveryId)}}" href="">{{deliveries[deliveryId].displayName}}</a></td>
            <td><abbr time-ago from-time="{{deliveries[deliveryId].revisions[deliveries[deliveryId].currentRevisionId].uploadDate}}" title="{{fromTime | date:'medium'}}"></abbr></td>
            <td></td>
            <td ui-if="d.loaded">{{d.persons[deliveries[deliveryId].revisions[deliveries[deliveryId].currentRevisionId].uploaderPersonId].displayName}}
            <!--{{d.profileGroups[d.profiles[deliveries[deliveryId].profileId].profileGroupId].displayName[d.persons[deliveries[deliveryId].revisions[deliveries[deliveryId].currentRevisionId].uploaderPersonId].gender]}} {{d.profiles[deliveries[deliveryId].profileId].displayName}}-->
            </td>
            <td><i class="icon-pencil"></i> <i class="icon-trash"></i></td>
          </tr>
        </tbody>
      </table>
      
    </div>
    <hr />
    <footer>
      <p>&copy; Grupo de trabajo ÁTICA, 2009-2012</p>
    </footer>
  </div>
</div>