<div class="row-fluid">

  <!-- Sidebar -->
  <div class="span2" ng-include src="'partials/navbarmain.html'">
  </div>

  <!-- Main content -->
  <div class="span10">
    <ul class="breadcrumb">
      <li>
        <a ng-href="#/home">Inicio</a> <span class="divider">/</span>
      </li>
      <li><a ng-href="#/section">Secciones</a> <span class="divider">/</span></li>
      <li class="active">{{d.groupings[$routeParams.section_id].displayName}}</li>
    </ul>
    <div class="well">
      <h1>{{d.groupings[$routeParams.section_id].displayName}}</h1>
      <small class="muted">
        {{d.groupings[$routeParams.section_id].description}}
      </small>
    </div>

    <div id="deleteModal" class="modal hide">
      <div class="modal-header">
        <button class="close" modal-close="myModal">×</button>
        <h3>Eliminar envío</h3>
      </div>
      <div class="modal-body">
        <h4>¿Está seguro de que quiere eliminar el documento?</h4>
      </div>
      <div class="modal-footer">
        <a href="" class="btn btn-danger">Sí, deseo eliminarlo</a>
        <a href="" class="btn btn-primary" modal-close="myModal">No, mantenerlo</a>
      </div>
    </div>

    <div class="framed" ng-repeat="folderId in d.groupings[$routeParams.section_id].folders" ng-controller="FolderViewCtrl">

      <h2>{{folder.displayName}}</h2>

      <form ui-if="d.loaded">
        <div class="pull-right">
          <select ng-show="folder.isDivided && profilesFilterOrder.length>0" ng-model="$parent.profileFilter" ng-options="showProfile(key) for key in profilesFilterOrder"></select><br />
          <select ng-model="$parent.uploadFilter" ng-show="uploaders.length>0" ng-options="showName(key) for key in uploaders"></select><br/>
        </div>
      </form>
      <p ng-bind-html="folder.description"></p>

      <h3 ui-if="loading">Cargando...</h3>
      <img ui-if="loading" src="img/loading.gif"/>
      <h3 ui-if="error">Se ha producido un problema intentando visualizar el contenido</h3>

      <table class="table table-striped table-hover table-condensed" ng-show="deliveries && total>0">
        <thead>
          <tr>
            <th>Documento</th>
            <th>Últ. cambio</th>
            <th></th>
            <th ui-if="d.loaded">Enviado por</th>
            <th></th>
          </tr>
        </thead>
        <tbody ng-repeat="profileId in profilesCurrentOrder" ng-controller="FolderProfileGroupViewCtrl">
          <tr ng-show="deliveriesCount>0" ui-if="profileId >= 0" class="folder-profilegroup"><td colspan="3"></td><td ui-if="d.loaded">{{toUpperCase(d.profileGroups[d.profiles[profileId].profileGroupId].displayName[genderShown])}} {{toUpperCase(d.profiles[profileId].displayName)}}</td><td></td></tr>
          <tr ng-repeat="deliveryId in filterDelivery(deliveriesOrder[profileId], profileId)" ng-controller="FolderDeliveryViewCtrl">
            <td><a href="{{getDownloadLink(delivery.currentRevisionId, folderId)}}" href="">{{delivery.displayName}}</a></td>
            <td><abbr time-ago from-time="{{delivery.revisions[delivery.currentRevisionId].uploadDate}}" title="{{delivery.revisions[delivery.currentRevisionId].uploadDate | date:'medium'}}"></abbr></td>
            <td></td>
            <td ui-if="d.loaded">{{uploader.displayName}}</td>
            <td><i ui-if="editEnabled" class="icon-pencil"></i>
            <a ui-if="editEnabled" modal-open="deleteModal"><i class="icon-trash"></i></a>
            </td>
        </tr>
        </tbody>
        <h4 ui-if="(loading==false) && total==0">
          <p>No hay documentos que cumplan con las condiciones indicadas</p>
        </h4>
        
      </table>
      <p>
        <div class="control-group">
        <a href="" class="btn btn-info" type="button" ng-href="#/upload/{{folderId}}/0/{{$routeParams.section_id}}/0" ng-show="(loading==false) && folderUploadEnabled">Subir un nuevo documento</a>&nbsp;&nbsp;<a href="" class="btn btn-danger" disabled="1" type="button" ng-show="folderEditEnabled && (loading==false) && total>0">Eliminar todos los documentos</a>
        </div>
      </p>
    <hr />
    <footer>
      <p>&copy; Grupo de trabajo ÁTICA, 2009-2012</p>
    </footer>
  </div>
</div>