<div class="row-fluid">

  <!-- Sidebar -->
  <div class="span2"><!-- ng-include src="'partials/navbarmain.html'"-->
  </div>

  <!-- Main content -->
  <div class="span8">
    <ul class="breadcrumb">
      <li>
        <a ng-href="#/home">Inicio</a> <span class="divider">/</span>
      </li>
      <li class="active">Selección de perfil</li>
    </ul>
    <div class="well">
      <h1>Selección de perfil</h1>
      <small class="muted">
        Desde aquí podrá listar los perfiles disponibles para su usuario y seleccionar cuál será el perfil activo.
      </small>
    </div>
    <form name="profileGroupsForm" class="form-horizontal">
      <fieldset>
        <div class="control-group" ng-hide="d.loaded">
          <label class="control-label" for="snapshot">Curso académico</label>
          <div class="controls">
            
            
            <select id="snapshot" ng-model="d.snapshotId" ng-options="key as value.displayName for (key, value) in d.snapshots">
              <!--option ng-repeat="snap in d.snapshots" value="{{snap.Id}}">
                {{snap.DisplayName}}
              </option-->
            </select>
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="profiles">Perfil</label>
          <div class="controls">
            
            
              <label class="radio" ng-repeat="profId in d.user.profiles[d.snapshotId]">
                <input type="radio" ng-model="d.profileId" value="{{profId}}" id="elem{{profId}}" />&nbsp;
                  <span ng-class="{'profile-selected': profId==$parent.d.profileId}">{{d.profileGroups[d.profiles[profId].profileGroupId].displayName[d.user.gender]}}</span>
                  <span ng-show="d.profiles[profId].displayName.length>0"> ({{d.profiles[profId].displayName}})</span>
                  <span ng-show="d.profileGroups[d.profiles[profId].profileGroupId].description.length>0" class="profile-muted help-inline">{{d.profileGroups[d.profiles[profId].profileGroupId].description}}</span>
              </label>
              
          </div>
        </div>
            
      </fieldset>
      <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Comenzar" ng-click="downloadData()"></input>
      </div>
    </form>
    <hr />
    <footer>
      <p>&copy; Grupo de trabajo ÁTICA, 2009-2012</p>
    </footer>
  </div>
</div>